*{margin:0px;
    padding: 0px;}

/*styling af header*/
header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
}

header .dropdownmenu {
    height: 40px;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding-top: 30px;
    padding-bottom: 35px;
}


/*Styling af dropdown*/
.dropbtn {
  background-color:white;
  color:black;
  padding: 20px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ddd;}

/*Styling af fuld billede kort*/
.imageplacehoalder{
    width: 100%;
}

.imageplacehoalder section {
    width: 78%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

/*Styling af main*/
main {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

/*Styling af artiklen*/
main h1 {
    font-size: 37px;
    text-align: center;
    font-weight:lighter;
    padding-top: 50px;
}
main h2 {
    font-size: 19px;
    text-align: center;
    font-weight:lighter;
    padding-bottom: 50px;
}

main h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 10px;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 50px;
}

main img {
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*her starter footer*/
.footer{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 50px;
    padding-top: 25px;
    border-top: 1px solid black;
    padding-top: 50px;
}

.footer section{
    width: 400px;
    height: 200px;
}
.footer h1 {
    font-size: 20px;
    letter-spacing: 2px;
    margin: auto;
}

.footer p {
    font-family: Arial, Helvetica, sans-serif;
}